body {
background-color: #B56C47;
font-family: 'Lily Script One', cursive;
color: #B56C47;
}
input[type=checkbox] + label {
  color: #B56C47;
  
} 
input[type=checkbox]:checked + label  {
  color: #00934A;
  font-style: italic;
  text-decoration: line-through;
}

li {list-style-type:none;}
h2 {
text-align: center;
font-size: 35px;
}
p, ul {font-size:20px;margin-left:40px;}

#left {float:left;}
#right {float:right;}
img {max-width:100px;margin:40px;}
#wrapper {
padding: 10px;
margin-right: auto;
margin-left:auto;
background-color: #FF9999;
border-width: 5px;
border-radius: 8px;
border-top-color: #FF0066;
border-right-color: #CC0099;
border-bottom-color: #00FFCC;
border-left-color: #00CC99;
width: 800px;



}

form {
width: 300px;
margin-right:auto;
margin-left:auto;

}

/*.checkedoff {
  color: #f00;
  font-style: normal;
  text-decoration: line-through;
}*/

.glossy {  
    width: 100px;  
    height: 30px;  
  
    margin: 10px auto;  
    position: relative;  
  
    background: #009933;  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(31%,#009933), color-stop(100%,#00934A));  
    background: -webkit-linear-gradient(top,  #009933 31%,#00934A 100%);  
    background: -moz-linear-gradient(top,  #009933 31%, #00934A 100%);  
    background: -o-linear-gradient(top,  #009933 31%,#00934A 100%);  
    background: -ms-linear-gradient(top,  #009933 31%,#00934A 100%);  
    background: linear-gradient(to bottombottom,  #009933 31%,#00934A 100%);  
  
  
    -webkit-border-radius: 25px;  
    -moz-border-radius: 25px;  
    border-radius: 25px;  
  
    border: 1px solid #4864a9;  
  
    color: #FF9999;  
    font-size: 18px;
    font-family: inherit;
	
    text-shadow: 1px 1px 0px rgba(255,255,255,.5);  
  
    -webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);      
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);  
  
    position: relative;  
	z-index: 1; 
}  